@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,700;0,800;1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
:root {
    --oq-body:#fff;
    --text-color: #111517;
    --body-color:rgb(245, 236, 236);

}
.dark-tun{
    --oq-body:#2B3844;
    --text-color: #fff;
    --body-color:#202C36;;
}

body {
width: 100%;
    margin: 0 auto;
    transition: 0.2s all ease;
    color: var(--text-color);
    background-color: var(--body-color);
}
.navbar{
    height: 80px;
     width: 100%;
    background-color: var(--oq-body);

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}
.cantainer {
    width: 90%;
    margin: 0 auto;

}

.navbar h1{
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    margin-top: 25px;
    }
.navbar .flex {
    align-content: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.flex.bayroq{
    display: flex;
    flex-wrap: wrap;
}
.flex.bayroq .country{
    width: 25%;

}
select{
    height: 56px;
    width: 200px;
    border-radius: 5px;
    background-color: var(--oq-body);
    color: var(--text-color);
    font-size: 18px;
    outline: none;
    font-weight: 800;
    text-align: center;
    border: none;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border-radius: 5px;
}
select option{
    padding: 20px;

    width: 200px;
    border: none;
    outline: none;
    height: 300px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border-radius: 5px;
    margin-top: 20px;
    line-height: 24px;
}

.poisk{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
.country h3{
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    padding: 25px 0;
}
.country .box {
    height: 336px;
    width: 90%;
background-color: var(--oq-body);
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
}
.country .box p{
    padding: 5px 0;
}
.country .box img{
    width: 100%;
    height: 160px;
}
.text{
    padding: 15px;
}
.country{
    margin-top: 75px;
}
.country:nth-child(5),
.country:nth-child(6),
.country:nth-child(7),
.country:nth-child(8){
    margin-bottom: 100px;
}
.flex{
    display: flex;
}
section .flex{
    flex-wrap: wrap;
}
#search{
    overflow: hidden;
    height: 56px;
    width: 480px;
    background-color: var(--oq-body);
    border-radius: 5px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
}
#search i{
    margin-left: 20px;
    color: var(--text-color);
}
input{
    width: 300px;
    background-color: var(--oq-body);
    color: var(--text-color);
    outline: none;   
   border: none;
    font-size: 16px;
    padding: 15px;
}
.navbar button i{
    padding: 0 10px;
}
.navbar button{
    margin-top: 16px;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
    font-size: 18px;
    font-Weight :600;
    font-Style :normal;
    Size :16px;
}
@media screen and (max-width:975px) {
    .flex.bayroq .country{
        width: 50%;
    }
    select{
        float: left;
    }
    .flex.panji>div:nth-child(1){
        width: 100%;
    }
    .text.flex{
        display: flex;
        flex-wrap:wrap ;
    }
    .panji.flex>div:nth-child(2){
        width: 100%;
    }
    .one,
    .two {
        width: 100%;
    }

}

@media screen  and (max-width:575px){
    .navbar h1{
        font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    }
    #search input{
        width: 295px;
    }
    .navbar button{
        font-size: 13px;
    }

    select {
        height: 39px;
        width: 174px;
        font-size: 16px;
    }
    .menu button,
.menu p{
    margin-left:50px;
}
    .flex.bayroq{
        display: flex;
        flex-wrap: wrap;
    }
    .flex.bayroq .country{
        width: 100%;

    }
    .poisk {
        flex-wrap: wrap;
    }
    select{
        margin-top: 30px;
    }
    .panji.flex>div:nth-child(1){
        width: 100%;
    }
    .text.flex{
        display: flex;
        flex-wrap:wrap ;
    }
    .panji.flex>div:nth-child(2){
        width: 100%;
    }
    .one,
    .two {
        width: 100%;
    }
   
} 
/* keyingi sahifalar uchun */
#back {
    width: 120px;
    text-align: center;
    border-radius: 6px;
    display: block;
    padding: 7px 15px;
    background-color:var(--oq-body);
    margin: 30px 0;
    
}
.rasm img{
    width: 100%;
}
.flex.panji{
    display: flex;
    flex-wrap: wrap;
}
.flex.panji>div{
    width: 33.3%;
}
.flex.panji>div:nth-child(2),
.flex.panji>div:nth-child(3){
    padding-left: 50px;
}
.menu{
    margin-right: 120px;
    float: right;
    display: flex;
    flex-wrap: wrap;
}
.text p,
.two p{
    padding: 4px 0;
}
.menu button a{
    color: var(--text-color);
}
.two{
    padding: 15px;
}
.menu p{
    margin: 12px 0;
    margin-left: 15px;

}

.menu button{
    border: 0.5px solid #666;
    border-radius: 10px;
    height: 30px;
    width: 120px;
    margin: 12px 0;
    margin-left: 15px;

    padding: 7px 20px;
    background-color: var(--oq-body);
}
